.portada_contenedor{
  border: 1px solid ;
  border-radius: 10px;
  overflow: hidden;
}
.portada_imagen{
  width: auto;
  height: 250px;
  padding-bottom: 0;
  margin-bottom: 0;
}
.portada_textos{
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  p{
    padding: 0;
    margin: 0;
  }
  h2{
    padding: 0;
    margin: 0;
  }
  h4{
    padding: 0;
    margin: 0;
  }
}
.portada_imagen{
  width: 100%;
  object-fit: cover;
}